<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162165823997-07dssb86lk8rolj11kurnprvfnb2b8km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162165823997-07dssb86lk8rolj11kurnprvfnb2b8km</string>
	<key>API_KEY</key>
	<string>AIzaSyDnwxBqXIC8yHqPAyWVWVohU8tyPpW95oE</string>
	<key>GCM_SENDER_ID</key>
	<string>162165823997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>reactnativefirebase-5ad77</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativefirebase-5ad77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162165823997:ios:9799df8959616213982194</string>
</dict>
</plist>